## Assignment 01 ##

## 1 ##

```python
expression
values
values
expression
expression
expression
values

In the order
```

## 2 ##

```python
Variables store data temporarily using symbols. String are data stored in those variables.
Variables are assigned using = operator. String is enclosed by " " or ' '.
```

## 3 ##

```python
integer: represents whole numerical data. examples: 34,266,42
string: represents characters . examples: 'apple', 'asefaweg'
boolean: represents true or false values only. examples: True and False
```

## 4 ##

```python
Expressions are made up of mathematical operators and it's combinations. 
Expressions combine values using operators and produce new values which can be of any type.
```

## 5 ##

Expression produces values or result whereas statement is the representation of the action that yields result by expressions.

## 6 ##

23

## 7 ##

```python
spamspamspam
spamspamspam
```

## 8 ##

variable names can't be numerical values

## 9 ##

int(),  float(), str()

## 10 ##

This expression causes error as concatenation only supports same data types. This can be fixed by enclosing 99 using " ".